*{ 
    margin: 0px;
    padding: 0px;
}

body{
    width: auto;
    margin: auto;
    background-image: url(img/fondo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: auto;
    margin: 0px;
    padding: 0 px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    height: 150px;
    margin: 0px;
    padding: 20px;
    width: 800px;
    display: flex;
    justify-content: space-around;

}
h1 {
    color: white;
    font-size: 73px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
}

h2 {
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 10px;
}
h3 {
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 50px;
    list-style-type: none;
}


h4 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}

h5 {
    padding: 35px;
    font-size: 26px;
    color: white;
}

.botonera {
    padding: 40px 40px;
    height: 20px;
    justify-content: space-around;
}

.seccion {
    padding: 0;
    max-width: 900px;
}

ul {
    padding-top: 30px;
    padding-left: 40px;
    list-style-type: circle;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}
a:hover {
    color:yellow;
}

nav ul {
    list-style: none;
    display: inline;
}

nav ul li {
    display: inline;
    padding: 20px;
}

div ul li {
    color: white;
    max-width: 250px;
    font-size: 16px;
    padding-top: 16px;
    margin-left: 80px;
    list-style-type: circle;
}
section ul li {
    color: white;
    max-width: 800px;
    font-size: 16px;
    list-style-type: none;
}

section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
}

.botonera a {
    text-decoration: none;
    padding: 30px 40px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botonera a:hover {
    font-size: 20px;
    color: yellow;
}

.bienvenida {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 510px;
    margin-left: 80px;
}

#cabecera {
    width: 100%;
    background-size: 100% auto;
    padding-top: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 14px;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#datos {
    display: flex;
    justify-content: center;
    align-items:first baseline;
    height: 250px;
    background: rgba(62, 28, 90, 0.6);
    padding-top: 18px;
}

.parrafo {
    max-width: 620px;
    height: 300px; 
    text-align: justify;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 17px;
}

.presentacion {
    height: 500px;
    padding: 70px 20px 0px 70px;
}

.habilidades {
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 460px;
    background: rgba(62, 28, 90, 0.6);
}

.subtitulo {
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:yellow;
    padding-top: 152px;
}

.secciondos {
    max-width: 800px;
}

#porfolio {
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 30px;
}
.subpor {
    color: yellow;
    padding: 100px
}
footer p {
    padding: 20px;
}

#proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 20px;
}

.maspro {
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-top: 20px;
    padding-right: 40px;
}

.email {
    display: flex;
    justify-content: left;
    height: 400px;
    padding-left: 100px;
    padding-top: 40px;
}

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 200px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 150px;
    width: auto;
    padding-left: 10px;
}

.pfooter {
    padding-top: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}